/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin-top: 36px;
}

.search-input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  background: #fff;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
}

.search-input:hover,
.search-input:focus {
  border-color: #000;
}

.search-input::placeholder {
  letter-spacing: 0.04em;
  color: #808080;
}

.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
}

.search-btn:hover {
  background: #6c8cff;
}

.images-list {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  margin-top: 32px;
}

.images-list-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 27px * 2) / 3);
  border: 1px solid #808080;
  transition: 1000ms;
}

.images-list-item:hover,
.images-list-item:focus {
  box-shadow: 0px 0px 8px 2px rgba(46, 13, 95, 0.353);
  scale: 1.1;
  border-radius: 8px;
}

.img-dscr {
  display: flex;
  padding: 4px 20px;
  justify-content: space-between;
  align-items: center;
}

.img-data {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.img {
  width: 100%;
  height: 152px;
  object-fit: cover;
}

.img {
  transition: 1000ms;
}

.img:hover,
.img:focus {
  cursor: zoom-in;
  border-radius: 8px 8px 0 0;
}

.img-data-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.img-data-numbers {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  display: none;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 32px;
}

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 32px auto 44px auto;
}

.hidden {
  display: none;
}

.up-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 2px #80808047;
  font-size: 24px;
  color: #ffffff6f;
  transform: rotate(-90deg);
  transition: 1000ms;
  background-color: #4e74ffb5;
}

.up-button:hover {
  color: #fff;
  background-color: #4e75ff;
}
